<div class="content">
  <div class="header inline">
    {{assignment.name}}
  </div>
  <div class="meta score-icon">
    {{#if (eq assignment.scoreType "Percentage")}}
      {{nrg-icon icon="percent"}}
    {{else}}
      {{nrg-icon icon="star outline"}}
    {{/if}}
  </div>
  <div class="meta">
    {{moment-format assignment.dueDate 'YYYY-MM-DD'}}
  </div>
  <div class="extra">
    {{descriptionLimited}}
  </div>
</div>
